h2{
    font-size: 24px;
}

h3{
    font-size: 22px;
}

h2,h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

pre{
    color: #fefefe;
    border-radius: 8px;
    font-size: 15px;
    overflow-x: auto;
    padding: 8px 8px;
    background: linear-gradient(to bottom right, rgba(68, 8, 121, 1) 0%, rgba(9, 17, 46, 1) 100%);
}

figcaption{
    font-size: 14px;
}

@keyframes handAnimation {
    0% {
        transform: rotate( 0.0deg)
    }
    10% {
        transform: rotate(14.0deg)
    }
    20% {
        transform: rotate(-8.0deg)
    }
    30% {
        transform: rotate(14.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }
    50% {
        transform: rotate(10.0deg)
    }
    60% {
        transform: rotate( 0.0deg)
    }
    100% {
        transform: rotate( 0.0deg)
    }
}

.custom-animation{
    position: relative;
    animation-name: handAnimation;
    animation-duration: 3s;
    transform-origin: 70% 70%;
    display: inline-block;
    animation-iteration-count: infinite;
}